.Hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90vh;
  overflow: hidden;
  // .shooting-star {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   width: 2px;
  //   height: 2px;
  //   background-color: white;
  //   animation: shootingStarAnimation 1.5s ease-out infinite;
  // }
  
  // .star {
  //   position: absolute;
  //   width: 6px;
  //   height: 2px;
  //   background-color: white;
  //   transform: rotate(45deg);
  // }
  
  // @keyframes shootingStarAnimation {
  //   0% {
  //     transform: translate(-100vw, -100vh) rotate(45deg);
  //     opacity: 0;
  //   }
  //   100% {
  //     transform: translate(100vw, 100vh) rotate(45deg);
  //     opacity: 1;
  //   }
  // }

  .hero-left {
    color: #d3d3d3;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    .head {
      color: #00aeff;
    }
    .tagline {
      font-size: 1.5rem;
      span {
        color: #41ffef;
      }
    }
    .hr {
      width: 20%;
    }
    .text {
      font-size: 16px;
      font-family: monospace;
      line-height: 28px;
      span {
        color: #41ffef;
        font-weight: bold;
      }
      .span {
        font-size: 20px;
      }
    }
  }
  .hero-right {
    flex: 1;
  }
}
@media (max-width: 1000px) {
  .Hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    .hero-left {
      margin-top: 4rem;
      margin-bottom: 4rem;
      flex: none;
    }
    .hero-right {
      flex: none;
    }
  }
}
