.Experience {
  height: 90vh;
  overflow-y: auto;
  position: sticky;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  &::-webkit-scrollbar {
    display: none;
  }
  body {
    margin: 0;
    padding: 2rem 0;
  }
  .head {
    margin: 1rem 2rem;
    font-size: 2.5rem;
    color: #ffffff;
    .hr {
      width: 10%;
    }
  }
  .head2 {
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    color: #41ffef;
  }
  .container {
    width: 80%;
    padding: 2rem 0;
    margin: 2rem auto;
    position: relative;
    overflow: hidden;
  }

  .container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #f0f0f0;
    z-index: 1;
  }

  .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
  }

  .timeline-block-right {
    float: right;
  }

  .timeline-block-left {
    float: left;
    direction: rtl;
  }

  .marker {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #4fc1e9;
    margin-top: 2rem;
    z-index: 9999;
  }

  .timeline-content {
    width: 95%;
    padding: 1rem 1.5rem;
    color: #ffffff;
    cursor: pointer;
  }
  
  .details {
    display: flex;
  }
  .time {
    color: #ddd;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }

  .watch {
    color: white;
    padding: 0rem 1rem;
    font-size: 1.5rem;
  }

  .btn {
    margin: 1rem 0rem;
    padding: 0.5rem;
    border: 1px solid white;
    background: none;
    color: white;
    cursor: pointer;
  }

  .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
  }

  .timeline-content .span {
    font-size: 16px;
    color: #41ffef;
  }

  .timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
  }
  @media screen and (max-width: 1000px) {
    .container:before {
      left: 8px;
      width: 2px;
    }
    .timeline-block {
      width: 100%;
      margin-bottom: 30px;
    }
    .timeline-block-right {
      float: none;
    }

    .timeline-block-left {
      float: none;
      direction: ltr;
    }
    .details {
      flex-direction: column;
    }
  }
}
