@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins&family=Roboto&display=swap");
.Skills {
  height: 90vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .head {
    margin: 1rem 2rem;
    font-size: 2.5rem;
    color: #ffffff;
    span {
      color: #00aeff;
    }
    .hr {
      width: 5%;
    }
  }
  .head2 {
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    color: #41ffef;
  }
  .StackCard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .card {
      // z-index: 1;
      background: #001120;
      width: 30rem;
      height: 10rem;
      border: 1px solid #222;
      border-radius: 10px;
      margin: 1rem;
      padding: 1rem;
      display: flex;
      cursor: pointer;
      transition: 0.5s;
      position: relative; /* Add position relative for shadow effect */
      &:hover {
        transition: 0.5s;
        border: 1px solid white;
        box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5); /* Add shadow effect on hover */
        backdrop-filter: blur(10px); /* Add blur effect on hover */
      }
      .head {
        width: 1rem;
        height: auto;
        font-family: "Times New Roman", Times, serif;
        transform: rotate(270deg);
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .main {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .icon {
        font-size: 5rem;
        flex: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
          width: 5rem;
          height: auto;
        }
      }
      .content {
        font-family: Roboto;
        flex: 1;
        padding-left: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
    .icon2 {
      font-size: 5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      .img {
        width: 5rem;
        height: auto;
      }
    }
  }
}
