@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto&family=Poppins&display=swap");

body {
  background: radial-gradient(circle, rgb(41, 34, 84) 0%, rgb(24, 7, 39) 100%);
  color: white;
  font-family: "Black Ops One";
  margin: 0;
  scroll-behavior: smooth;
  overflow: hidden;
}
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  animation: twinkle 1s infinite;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
}

.glitch {
  position: relative;
  font-size: 2.5rem;
  color: #FFFFFF;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00aeff;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #FE50B1;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
     transform: translate(0);
  }
  20% {
     transform: translate(-2px, 2px);
  }
  40% {
     transform: translate(-2px, -2px);
  }
  60% {
     transform: translate(2px, 2px);
  }
  80% {
     transform: translate(2px, -2px);
  }
  to {
     transform: translate(0);
  }
}