.loader {
  .typewriter {
    font-size: 40px;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
        .cursor {
      display: inline-block;
      color: #00000000;
      background-color: #00aeff;
      animation: blinker 800ms infinite;
    }
  }
  body {
    background: rgb(24, 7, 39);
    padding: 0;
    margin: 0;
    position: relative;
  }

  main {
    width: 100%;
    height: 100%;
    position: fixed;
    background: radial-gradient(
      circle,
      rgb(41, 34, 84) 0%,
      rgb(24, 7, 39) 100%
    );
  }

  .mountains {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 30%;
    width: 100%;
    height: 50%;
    svg {
      bottom: 0;
      position: absolute;
    }
  }

  .moon {
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translate(-50%, 0);
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 -20px 40px -20px #f46585;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgb(254, 189, 95) 0%, #fede5c 100%);
    }
    .line {
      top: 0;
      width: 100%;
      height: 35%;
      position: absolute;
      animation: moonLinesSlide 6s ease-in infinite both;
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: 0.6s * $i;
        }
      }
    }
  }

  .plane {
    z-index: 20;
    height: 30%;
    width: 100%;
    bottom: 0;
    position: absolute;
    background: rgb(24, 7, 39);
    overflow: hidden;
    border-top: 2px solid #fe50b1;
    box-shadow: 0 0 150px -60px #fe50b1;
    background: linear-gradient(0deg, rgb(24, 7, 39) 60%, #4e0646 100%);
    .vlines {
      width: 100%;
      height: 100%;
      position: absolute;
      .line {
        box-shadow: 0 0 5px #ff91cf;
      }
      .left {
        width: 50%;
        height: 100%;
        position: absolute;
        border-right: 1px solid #fe50b1;
        .line {
          right: 0%;
          width: 2px;
          height: 100%;
          position: absolute;
          background: #fe50b1;
          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              right: 12% * $i;
              transform-origin: 100% 0%;
              transform: skewX(-35deg - 10deg * $i);
            }
          }
        }
      }
      .right {
        width: 50%;
        height: 100%;
        right: 0;
        position: absolute;
        border-left: 1px solid #fe50b1;
        .line {
          right: 0%;
          width: 2px;
          height: 100%;
          position: absolute;
          background: #fe50b1;
          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              left: 12% * $i;
              transform-origin: 100% 0%;
              transform: skewX(35deg + 10deg * $i);
            }
          }
        }
      }
    }
    .lines {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      .line {
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 90%;
        background: #fe50b1;
        animation: linesSlide 3s ease-in infinite both;
        box-shadow: 0 0 5px #ff91cf;
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            animation-delay: 0.3s * $i;
          }
        }
      }
    }
  }

  .car {
    display: none;
    width: 60vw;
    height: 40vw;
    box-shadow: 0 0 0 2px white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 30;
    * {
      position: absolute;
    }
    .body {
      width: 100%;
      height: 80%;
      background: black;
      .bumper {
        background: blue;
        width: 94%;
        left: 3%;
        height: 30%;
        bottom: 0;
        border-radius: 0 0 70% 70%;
        .cursor {
          display: inline-block;
          color: #00000000;
          background-color: #00aeff;
          animation: blinker 800ms infinite;
        }
      }
    }
    .wheels {
      width: 100%;
      height: 50%;
      bottom: 0;
      .parts {
        width: 72%;
        left: 14%;
        height: 80%;
        background: white;
      }
      .wheel {
        background: red;
        width: 14%;
        height: 100%;
        border-radius: 10%;
        &:nth-child(2) {
          right: 0;
        }
      }
    }
  }

  @keyframes linesSlide {
    from {
      bottom: 100%;
      height: 2px;
    }
    to {
      bottom: -10px;
      height: 10px;
    }
  }
  @keyframes moonLinesSlide {
    from {
      top: 100%;
      height: 2px;
      background: #fe6770;
    }
    to {
      top: -40%;
      height: 35%;
      background: #fefe53;
    }
  }
}
